.app {
  display: flex;
  text-align: center;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
  padding: 2rem;
}

.p_default_text {
  font-family: var(--font-base);
  color: var(--color-white);
}
